:root{
    --color-principal-:#5C4B51;
    --color-secundario-:#8CBEB2;
    --color-indice-:#F2EBBF;
    --font-color: #323232;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-secundario-);
    color: black;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}


